.tttBoard{
    display:grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    gap:5px;
    justify-self: center;
    padding:30px;
    
}
.square{
    background-color: antiquewhite;
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: center;
    cursor: pointer;
}
header{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    gap:20px;
}